    <!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8" />
            <meta name="viewport" content="width=device-width" />
            <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}" type="text/css" media="screen" title="no title" charset="utf-8">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}" type="text/css" media="screen" title="no title" charset="utf-8">
            {% if title %}
            <title>{{ title }} - lhel's blog</title>
            {% else %}
            <title>lhel's blog</title>
            {% endif %}
        </head>
        <body>
            <div class="container">
                <header>lhel's blog</header>
                <p>lhel's articles, tutorials and thoughts</p>
                {% block content %}{% endblock %}
            </div>
        </body>
    </html>
