{% extends "base.html" %}

{% block content %}
    {% for topic in topics %}
    <h2>{{ topic }}</h2> 
    <div>
        <ul>
        {% for post in posts %}
            {% if post['topic'] == topic %}
            <li>
                <a href="{{ url_for('view_post', title=post['title'].lower().replace(" ", "-")) }}">{{ post['title'] }}</a>
            </li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
    {% endfor %}
{% endblock %}
